.forum-container {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    margin-bottom: 5rem;
}



@media only screen and (min-width: 600px) {
    .mobile-categories {
      visibility: hidden;  
    }
  }

  @media only screen and (max-width: 600px) {
    .desktop-categories {
      visibility: hidden;  
    }
  }