

.tag-spacing {
    border-radius: 5px !important;
    /* background-color: white !important; */
}

.btn-group-toggle {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .tags-spacing {
      margin-bottom: 0;  
    }
  }